.dl-menuwrapper {
  z-index: 1000;
}
@media only screen and (min-width: 480px) {
  .dl-menuwrapper {
    max-width: 278px;
  }
}
.dl-menuwrapper.dl-menuopen {
  width: 100%;
  height: 100%;
}
.dl-menuwrapper button {
  top: -6px;
  left: 20px;
  border: none;
  width: 48px;
  height: 45px;
  text-indent: -900em;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  border-radius: 0 0 0 3px;
  transition: 0.4s ease-in-out;
  @media only screen and (min-width: 480px) {
    left: 0;
    border-radius: 3px;
  }
  @media only screen and (min-width: 1024px) {
    top: 0;
  }
  &:hover {
    opacity: 1;
  }
  &:after {
    content: "";
    position: absolute;
    width: 68%;
    height: 5px;
    background: #000;
    top: 10px;
    left: 16%;
    box-shadow: 0 10px 0 #000, 0 20px 0 #000;
  }
}
.dl-menuwrapper ul {
  padding: 0;
  list-style: none;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.dl-menuwrapper li {
  position: relative;
}
.dl-menuwrapper li h4 {
  margin: 0;
  padding: 15px 20px 0;
  color: rgba(255, 255, 255, 0.9);
}
.dl-menuwrapper li p {
  margin: 0;
  padding: 15px 20px;
  font-size: 14px;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}
.dl-menuwrapper li p a {
  display: inline;
  padding: 0;
  font-size: 14px;
  font-size: 0.875rem;
}
.dl-menuwrapper li a {
  text-align: right;
  display: block;
  position: relative;
  padding: 15px 20px;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.dl-menuwrapper li.dl-back > a {
  padding-left: 30px;
  background: rgba(0, 0, 0, 0.2);
}
.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
  position: absolute;
  top: 0;
  line-height: 50px;
  font-family: "fontawesome";
  color: #fff;
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\f105";
}
.dl-menuwrapper li.dl-back:after {
  left: 10px;
  color: rgba(212, 204, 198, 0.5);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.dl-menuwrapper li > a:after {
  right: 10px;
  color: rgba(0, 0, 0, 0.15);
}
.dl-menuwrapper .dl-menu {
  margin: 0 0 0 0;
  position: relative;
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: inherit;
}
@media only screen and (min-width: 480px) {
  .dl-menuwrapper .dl-menu {
    margin: 5px 0 0 0;
    border-radius: 3px;
  }
}
.dl-menuwrapper .dl-menu.dl-menu-toggle {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.dl-menuwrapper .dl-menu.dl-menuopen {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.dl-menuwrapper .dl-submenu {
  border-radius: 3px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
}
.dl-menuwrapper .dl-submenu .btn,
.dl-menuwrapper .dl-submenu .read-more-header a,
.read-more-header .dl-menuwrapper .dl-submenu a,
.dl-menuwrapper .dl-submenu #goog-wm-sb {
  margin-bottom: 0;
}
.dl-menuwrapper li .dl-submenu {
  display: none;
}
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
  display: none;
}
.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
  display: block;
}
.dl-menu.dl-animate-out {
  -webkit-animation: MenuAnimOut 0.4s ease;
  -moz-animation: MenuAnimOut 0.4s ease;
  animation: MenuAnimOut 0.4s ease;
}
.dl-menu.dl-animate-in {
  -webkit-animation: MenuAnimIn 0.4s ease;
  -moz-animation: MenuAnimIn 0.4s ease;
  animation: MenuAnimIn 0.4s ease;
}
.dl-menuwrapper > .dl-submenu.dl-animate-in {
  -webkit-animation: SubMenuAnimIn 0.4s ease;
  -moz-animation: SubMenuAnimIn 0.4s ease;
  animation: SubMenuAnimIn 0.4s ease;
}
.dl-menuwrapper > .dl-submenu.dl-animate-out {
  -webkit-animation: SubMenuAnimOut 0.4s ease;
  -moz-animation: SubMenuAnimOut 0.4s ease;
  animation: SubMenuAnimOut 0.4s ease;
}
.no-touch .dl-menuwrapper li a:hover {
  background: rgba(255, 248, 213, 0.1);
  background-color: var(--White);
  color: var(--Fire);
}
.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active {
  background: var(--primary);
}
.dl-menu li {
  display: none;
}
.dl-menuopen li {
  display: block;
}

// Additional properties
.display-none-important {
  display: none !important;
}
