// Setting the flex properties: should go to COMPOSITION
.mhd-tiles {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: flex-start;
	> .main-filter-col {
		flex: 1;
		margin-left: get-size("500");
		margin-right: 0.8rem;
		margin-top: get-size("300");
		margin-bottom: get-size("300");
		min-width: 15em;

		position: static;

		@include media-query("sm") {
			margin-top: 0.9rem;
			margin-left: 0;
			margin-right: get-size("500");
			margin-bottom: 0;

			top: 1em;
			align-self: flex-start;
		}
	}
	> .main-body-col {
		flex: 3;
	}
	/// Exceptions
	&[data-layout="reversed"] {
		flex-direction: row-reverse;
	}
}
