@font-face {
	font-family: "ElegantIcons";
	src: url("/fonts/ElegantIcons.eot");
	src: url("/fonts/ElegantIcons.eot?#iefix") format("embedded-opentype"), url("/fonts/ElegantIcons.woff") format("woff"),
		url("/fonts/ElegantIcons.ttf") format("truetype"), url("/fonts/ElegantIcons.svg#ElegantIcons") format("svg");
	font-weight: normal;
	font-style: normal;
}
.font_icons {
	font-family: "ElegantIcons";
}
.social_facebook:before {
	content: "\e093";
}
.social_twitter:before {
	content: "\e094";
}
.social_instagram:before {
	content: "\e09a";
}
.social_youtube::before {
	content: "\e0a3";
}
.social_linkedin::before {
	content: "\e09d";
}
