@import "reset";
@import "config";

@import "../../node_modules/gorko/gorko.scss";

// Globals start
:root {
  --primary: #e4232a;
  --secondary: #b2e4dc;
  --lightest-grey: #f0f0f0;
  --lighter-grey: #dbdbdb;
  --h4-grey: #717171;
  --site-grey: #383838;
  --footer-grey: #222222;
  --Fire: #e4232a;
  --Onyx: #141413;
  --Canvas: #f3e4d1;
  --Rattan: #d9b06f;
  --Gold: #ee9a12;
  --Indigo: #362d8b;
  --Bloom: #f6a6c7;
  --Mint: #b2e4dc;
  --Powder: #fff6ee;
  --Straw: #eac896;
  --Graphite: #606161;
  --Disabledbg: #b0b0b0;
  --Disabledtxt: #858585;
  --White: #ffffff;
  --Primary-font: Decalo-bold;
  --Primary-font-regular: Decalo-regular;
  --Primary-font-black: Decalo-black;
  --Secondary-font: Roboto;
  --Secondary-font-bold: Roboto-bold;
  --wc-box-h-spacing-unit: 1.25rem;
  --wc-box-v-spacing-unit: 1rem;
  --wrapper-max-width: 1280px;
}

body {
  color: get-color("dark");
  background: get-color("white");

  @include apply-utility("font", "base");
}

/// Default typography

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  @include apply-utility("font", "serif");
}

h5,
h6 {
  line-height: 1.1;
  @include apply-utility("font", "base");
}

a {
  color: currentColor;
}

svg {
  width: 1em;
  height: 1em;
  display: inline-block;
}

// Interactive states
:focus {
  outline: 1px solid get-color("tertiary");
  outline-offset: 0.25rem;
}

a:hover {
  text-decoration: underline;
}

// Import utilities
@import "utilities/flow";
@import "utilities/split-pair";
@import "utilities/region";
@import "utilities/wrapper";
@import "utilities/center-content";
@import "utilities/radius";
@import "utilities/splitter";
@import "utilities/text-properties";
@import "utilities/text-rtl";
@import "utilities/underline";
@import "utilities/overline";
@import "utilities/box-shadow-glow";
@import "utilities/no-decoration";
@import "utilities/right-align";
@import "utilities/spacings";

// Import blocks
@import "blocks/brand";
@import "blocks/button";
@import "blocks/button-cube";
@import "blocks/class-red-button";
@import "blocks/heading";
@import "blocks/media";
@import "blocks/nav";
@import "blocks/tile";
@import "blocks/tf-item";
@import "blocks/logos";
@import "blocks/panel";
@import "blocks/map";
@import "blocks/red-tip";
@import "blocks/key-header";
@import "blocks/pill";
@import "blocks/site-head";
@import "blocks/summary";
@import "blocks/table-group";
@import "blocks/user";
@import "blocks/link-pointer";
@import "blocks/no-count-button";
@import "blocks/filter-item";
@import "blocks/fixed-scrollable";
@import "blocks/fixed-full-screen";
@import "blocks/position-icon";
@import "blocks/card-text-block";
@import "blocks/filter-refine-pills";
@import "blocks/center-text-section";
@import "blocks/provider-bio";

@import "utilities/visually-hidden";

// Import compositions
@import "compositions/sign-up";
@import "compositions/tiles";
@import "compositions/mhd-tiles";
@import "compositions/footer-tiles";
@import "compositions/hero";
@import "compositions/intro";
@import "compositions/search";
@import "compositions/flex-gap";
@import "compositions/card-flex";
@import "compositions/card-resource";
@import "compositions/single-item";
@import "compositions/index-blurb";
@import "compositions/dropdown-nav";
@import "compositions/display-grid";
@import "compositions/display-flex";
@import "compositions/join-us-modal";

// Import MHD customs
@import "fonticons";
@import "aaf";

// Utilities controlling show hide
@import "utilities/tf-filter-item";
@import "utilities/show-item";
@import "utilities/read-more";
@import "utilities/hide-show-more-button";
